@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');
<<<<<<< HEAD
* {
    box-sizing: border-box;
}
=======

* {
    box-sizing: border-box;
}

>>>>>>> 334d726be6ce4a65563dc61734b03fcbbb3e106c
body {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    background-color: #18292c;
    font-family: 'Nunito', sans-serif;
}
<<<<<<< HEAD
=======

>>>>>>> 334d726be6ce4a65563dc61734b03fcbbb3e106c
h1 {
    position: absolute;
    top: 2rem;
    font-size: 3rem;
    color: #ffae00;
    font-weight: bold;
}
<<<<<<< HEAD
div {
=======

.container {
>>>>>>> 334d726be6ce4a65563dc61734b03fcbbb3e106c
    color: rgba(255, 255, 255, 0.877);
    font-weight: bold;
    font-size: 150%;
    margin: 0rem;
    align-self: center;
    text-align: center;
}
<<<<<<< HEAD
=======

>>>>>>> 334d726be6ce4a65563dc61734b03fcbbb3e106c
#mapid {
    height: 450px;
    width: 700px;
}